/* Setup For Screens 320px to 768px
=====================================*/
@media only screen
and (min-width : 320px)
and (max-width : 767px) {

    header {
        padding-top: 50px;
        padding-bottom: 50px;
        background: @white;

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    #mainlinks {
        position: fixed;
        bottom:0;
        padding-top: 10px;
        padding-bottom: 10px;
        background: @gray;
        width: 100%;
        text-align: center;
    }

    #container {
        max-height: 200px;
        #center {

            h1 {
                font-size: 270%;
                .opacity(1.0);
            }
            h2 {
                font-size: 150%;
            }
        }
    }

    #main {
        margin-bottom: 50px;
    }
}


/* Setup For Screens 768px to 1024px
=====================================*/
@media only screen
and (min-width : 768px) {
    header {
        padding: 30px 50px;
        background: @white;
    }

    #mainlinks {
        position: absolute;
        top: 50px;
        right: 50px;
        text-align: center;
    }

    #container {
        max-height: 600px;
        overflow: hidden;
    }

    #main {
        margin-left: auto;
        margin-right: auto;
        width: 768px;
        padding: 0;

        .tab {
            width: 164px;
            float: left;
            margin-right: 5px;
            margin-left: 5px;

            h2 {
                font-size: 80%;
            }
        }
    }
}

/* Setup For Screens 1024px to 1200px
=====================================*/
@media only screen
and (min-width : 1024px) {

    #container {
        max-height: 500px;
        overflow: hidden;
    }

    #main {
        width: 1024px;

        .tab {
            width: 230px;
        }
    }
}

/* Setup For Screens 1200px to 1600px
=====================================*/
@media only screen
and (min-width : 1200px) {

    #main {
        width: 1200px;

        .tab {
            width: 270px;
        }
    }
}

/* Setup For Screens 1600px and up
=====================================*/
@media only screen
and (min-width : 1600px) {

        #main {
        width: 1600px;

        .tab {
            width: 370px;
        }
    }

}