.field_with_errors .green {
  background-color: green;
}

.field_with_errors .show_error {
border-color: #c60f13;
border-style: solid;
border-width: 3px;
}

.field_with_errors .hidden {
 display: block;
}

.temp_hidden .hidden {
  display: none;
}

.field_with_errors .show_highlight {
  border-color: #c60f13;
  border-style: solid;
  border-width: 3px;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.tedx_red {
  color: #ff2b06
}

.essay {
  padding-top: 40px !important; 
}